<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>maven-private</id>
      <username></username>
      <password></password>
      <configuration>
        <timeout>3000</timeout>
      </configuration>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>Nuxeo</id>
      <repositories>
        <repository>
          <id>public</id>
          <url>https://packages.nuxeo.com/repository/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>maven-private</id>
          <url>https://packages.nuxeo.com/repository/maven-private</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>Nuxeo</activeProfile>
  </activeProfiles>
</settings>
